{% if itemAcuerdo is defined %}
        SAF {{ itemSolicitado.tramite.organismoOrigen.saf.numeroSaf}}
{% else %}
        {% set item = itemSolicitado.itemAcuerdoMarco %}
        {% if (item | length > 1 ) %}
             <span data-toggle="tooltip" data-placement="top" title='Ítem Acordado'> 
                <a aria-hidden="true" class="dropdown-toggle overflow  fa fa-list-alt text-info" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                <div  class="dropdown-menu" style="width: 600px;">  
                     <ul class="list-group">
                        {% set porcentajeAutorizado = ( item.cantidadAutorizada * 100 ) / item.cantidad  %}
                        {% set porcentajeSolicitado = ( item.cantidadSolicitada * 100 ) / item.cantidad  %}
                        {% set porcentaje = porcentajeAutorizado |round + porcentajeSolicitado |round %}
                            &nbsp;<h5>CANTIDADES DEL ITEM ADJUDICADO</h5>
                            <table id="" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Codigo</th>
                                        <th>Adjudicada</th>
                                        <th> <span class="label label-success">Autorizada</span></th>
                                        <th> <span class="label label-warning">Pedida</span></th>
                                        <th><span class="label label-default">Disponible</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                              
                                        <tr>
                                            <td>{{ item.numero }}</td>
                                            <td><a href="{{ path('itemacuerdomarco_show', { 'id': item.id }) }}" target="_blank"><strong> {{ item.codigo }} </strong></a></td>
                                            <td>{{item.cantidad}}</td>
                                            <td>{{item.cantidadAutorizada | number_format(2, ',', '.')}}</td>
                                            <td>{{item.cantidadSolicitada | number_format(2, ',', '.') }}</td>
                                            {% if item.cantidadRestante < 0 %}
                                                <td class="text-danger">{{item.cantidadRestante | number_format(2, ',', '.')}}</td>
                                            {% else %}
                                                <td>{{item.cantidadRestante | number_format(2, ',', '.')}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                                <td colspan="6"> {{item.item}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                            {% if porcentaje <= 100 %}
                                                <div class="progress progress-striped" style="height:20px">
                                                  <div class="progress-bar progress-bar-success" style="width: {{porcentajeAutorizado |round}}%">
                                                    {{porcentajeAutorizado |round }}% Autorizada
                                                  </div>
                                                  <div class="progress-bar progress-bar-warning active" style="width: {{porcentajeSolicitado |round}}%">
                                                   {{porcentajeSolicitado |round }}% Pedida
                                                  </div>  
                                                </div>
                                             {% elseif porcentajeAutorizado |round > 100 %}
                                                <div class="progress progress-striped" style="height:20px">
                                                     <div class="progress-bar progress-bar-danger active" style="width: {{porcentajeAutorizado |round}}%">
                                                       {{porcentajeAutorizado |round }}% Autorizada 
                                                      </div>  
                                                     <div class="progress-bar progress-bar-warning active" style="width: {{100 - (porcentajeAutorizado |round)}}%">
                                                       {{porcentajeSolicitado |round }}% Pedida 
                                                      </div>  
                                                </div>
                                             {% else %}
                                                    <div class="progress progress-striped" style="height:20px">
                                                      <div class="progress-bar progress-bar-success" style="width: {{porcentajeAutorizado |round}}%">
                                                        {{porcentajeAutorizado |round }}% Autorizada
                                                      </div>
                                                      <div class="progress-bar progress-bar-danger active" style="width: {{100 - (porcentajeAutorizado |round)}}%">
                                                       {{porcentajeSolicitado |round }}% Pedida 
                                                      </div>  
                                                    </div>
                                                     
                                            {% endif %}
                                            </td>
                                        </tr>
                                </tbody>
                            </table>                
                     </ul>
                </div>
               </span>
        {% else %}
              <span data-toggle="tooltip" data-placement="top" title='Ninguno'> 
                <a aria-hidden="true" class="dropdown-toggle overflow  fa fa-list-alt text-danger" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                <div  class="dropdown-menu" style="width: 500px;">  
                     <ul class="list-group">
                           
                            <table id="" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Codigo</th>
                                        <th>Cantidad</th>
                                        <th>Disponible</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td colspan="4">
                                                    <p>No se encontro un ítem acordado relacionado con el ítem solicitado. </p>
                                                    <p>Ingrese al ítem para buscar y relacionar con un item del Acuerdo Marco</p>
                                                </td>
                                        </tr>
                                </tbody>
                            </table>                
                     </ul>
                </div>
               </span>
        {% endif %}
{% endif %}

{% set itemDuplicado = itemSolicitado | item_duplicado_solicitado %}
{% if (itemDuplicado | length > 1 ) %}
     <span data-toggle="tooltip" data-placement="top" title='Item Repetido'> 
        <a aria-hidden="true" class="dropdown-toggle overflow  fa fa-clipboard text-danger" data-toggle="dropdown" role="button" aria-expanded="false">{{itemDuplicado | length - 1}}</a>
        <div  class="dropdown-menu" style="width: 500px;">  
             <ul class="list-group">
                   <h4>&nbsp;&nbsp;El Ítem está <strong>REPETIDO </strong> en este PEDIDO </h4>
                    <table id="tablaItemDuplicado" class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Pedido</th>
                                <th>Item N°</th>
                                <th>Cantidad</th>
                                <th>P. U.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in itemDuplicado if item.id != itemSolicitado.id %}
                                <tr>
                                    <td>
                                        <small><span class="{{item.tramite.estadoTramite.class}}"  data-toggle="tooltip" data-placement="bottom" title='{{item.tramite.estadoTramite}}' >-</span></small>
                                        <a  href="{{ path('tramite_show', { 'id': item.tramite.id }) }}" target="_blank">  {{item.tramite.tipoTramite}} {{ item.tramite.numeroTramite }}</a>
                                    </td>
                                    <td><a href="{{ path('itempedido_show', { 'id': item.id }) }}" target="_blank"><strong> {{ item.numero }} </strong></a></td>
                                    <td>{{item.cantidad}}</td>
                                    <td>$ {{item.precio  | default(0) | number_format(2, ',', '.')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>                
             </ul>
        </div>
       </span>
{% endif %}

{% set comentarios = entidad.id | default(null)| Comentario(tipo)  %}
{% if (comentarios | length > 0 ) %}
     <span data-toggle="tooltip" data-placement="top" title='Comentario' class='hidden-print'> 
        <a class="dropdown-toggle glyphicon glyphicon-comment text-info" data-toggle="dropdown" role="button" aria-expanded="false">{{ comentarios | length }}</a>
        <div  class="dropdown-menu" style="width:400px;">  
            
            <ul class="list-group">
               {% for comentario in comentarios | sort | reverse %}
                   <li class="list-group-item">
                              <small>{% if ( app.user.id == comentario.usuario.id) %}
                              <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-cog glyphicon text-success small'>
                               </a>  
                              {% else %}       
                               <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-cog text-muted'></a> 
                             {% endif %} <span class="text-muted">  {{ comentario.usuario.usuario}} ha comentado  {% if comentario.fecha %}{{ comentario.fecha|long_time }} ({{ comentario.fecha|date('d-m-Y') }}){% endif %}</span></small> <br> {{ comentario.texto }}

                              {% if ( is_granted('ROLE_ADMIN')) or ( app.user.id == comentario.usuario.id) %}
                           &emsp;
                              <a data-href="{{ path('comentario_eliminar', { 'id': comentario.id }) }}" class="btn-eliminar-comentario"><span data-toggle="tooltip" data-placement="top" title='Quitar comentario' class="glyphicon glyphicon-trash" ></span></a>
                              {% endif %}
                      </li>
              {% endfor %}
          </ul>
        </div>
       </span>
{% endif %}
