{# Siarme\AusentismoBundle\Resources\views\itemSolicitado\_tbody_completo.html.twig #}


<tr>
    <td style="width: 8%;">     
        <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                    {% include 'GeneralBundle:ItemSolicitado:_menu_info_item.html.twig' with {'entidad': itemSolicitado, 'tipo':constant('TIPO_ENTIDAD', itemSolicitado) } %}
        </div>
    </td>
    <td>{{ itemSolicitado.numero }} </td>
    {# <td>{% if itemSolicitado.fecha %}{{ itemSolicitado.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>#}
    <td><a href="{{ path('itemsolicitado_show', { 'id': itemSolicitado.id }) }}" target="_blank">{{ itemSolicitado.codigo }}</a></td>
    {% set itemCatalogo  = itemSolicitado | item_catalogo  %}
    <td style="width: 40%;" {% if itemCatalogo.item |default("") != itemSolicitado.item  %} class="bg-warning" {% endif %}>
        <div id="-{{itemSolicitado.id}}">{{ itemSolicitado.item }}</div>
        {% if itemCatalogo.item |default("") != itemSolicitado.item %}
            <div class="dropdown text-left hidden-print" style="margin:0px;">  
                <a aria-hidden="true" class="dropdown-toggle overflow fa fa-file-o {% if (itemCatalogo is not empty ) %} text-info {% else %}  text-danger {% endif %}" data-toggle="dropdown" role="button" aria-expanded="false"></a>
                <div  class="dropdown-menu" style="width: 400px;">  
                            <table id="tablaItemDuplicado" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{itemCatalogo.item |default("Codigo inexistente en el catálogo COMPRAR")}}</td>
                                    </tr>
                                </tbody>
                            </table>   
                </div>
            </div>
        {% endif %}
    </td>
    <td>{{ itemSolicitado.unidadMedida | default('N/D')}}</td>
    <td>{{ itemSolicitado.cantidad | number_format(2, ',', '.') }} 

    {% if not itemSolicitado.tramite.estado %}
        <br>
        {% set item, cantidadS, cantidadP, organismo = itemSolicitado.itemAcuerdoMarco, 0, 0, itemSolicitado.tramite.organismoOrigen %}

        {% for itemS in item.itemSolicitado if itemS.tramite.organismoOrigen == organismo  %}
                {% set cantidadS = cantidadS + itemS.cantidadAutorizada %}
        {% endfor %}

        {% for itemPedido in item.itemProceso.itemPedido | default(null) if itemPedido.tramite.organismoOrigen == organismo %}
                {% set cantidadP = cantidadP + itemPedido.cantidad %}
        {% endfor %}
        
        {% if cantidadP < cantidadS %}
            {% set resto = cantidadS - itemSolicitado.cantidadAutorizada  %}
            {% set cantidadA = cantidadP - resto %}
            <div class="dropdown text-left hidden-print" style="margin:0px;" data-toggle="tooltip" data-placement="top" title='Cantidad Mayor a lo Planificado'> 
            <span aria-hidden="true" class="dropdown-toggle overflow  glyphicon glyphicon-info-sign" data-toggle="dropdown" role="button" aria-expanded="false"></span>
            <div  class="dropdown-menu" style="width: 500px;">  
                 <ul class="list-group text-center">
                       <h4>El total de la cantidad Solicitada ({{cantidadS}}) 
                        <br> ES MAYOR 
                        <br>al total de la cantidad Planificada ({{cantidadP}})
                        <br> <strong>Puede Autorizar: <span class="text-success">{{cantidadA}}</span></strong></h4>           
                 </ul>
            </div>
           </div>
        {% endif %}
    {% endif %}
</td>
    <td>
        {% if  itemSolicitado.itemAcuerdoMarco.cantidadRestante | default(0) - itemSolicitado.cantidadAutorizada  < 0 and  not itemSolicitado.tramite.estado %}  
              <span class="text-danger"><strong>{{ itemSolicitado.cantidadAutorizada }}</strong></span>     
         {% else %}
                 {{ itemSolicitado.cantidadAutorizada | number_format(2, ',', '.') }} 
         {% endif %}
         {% if edit %}  
              <span class="pull-right"><a role="button" data-href="{{ path('itemsolicitado_cantidad_autorizada', {'id':itemSolicitado.id})}}" class="btn-cantidad-autorizada"> <span  class="glyphicon glyphicon-pencil"></span></a></span>
          {% endif %}
    </td>
    <td>
         {% if  not itemSolicitado.tramite.estado %}  
            <strong>{{ itemSolicitado.itemAcuerdoMarco.cantidadRestante | default(0) }} </strong>   
           {% if  itemSolicitado.itemAcuerdoMarco.cantidadRestante | default(0)  >  0 %}
           {% set porcentajeSolicitado = ( itemSolicitado.cantidadAutorizada * 100 ) / itemSolicitado.itemAcuerdoMarco.cantidadRestante | default(0) %}
                    {% if porcentajeSolicitado <= 100 %}
                                <div class="progress progress-striped">
                                  <div class="progress-bar progress-bar-warning active" style="width: {{porcentajeSolicitado |round }}%">
                                    {{porcentajeSolicitado |round | default(1)}}%
                                  </div> 
                                </div>
                             {% else %}
                                    <div class="progress progress-striped">
                                      <div class="progress-bar progress-bar-danger active" style="width: {{porcentajeSolicitado |round }}%">
                                       {{porcentajeSolicitado |round }}%
                                      </div>  
                                    </div>
                            {% endif %}
                    {% else %}
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-danger" style="width: 100%">
                                       -
                                      </div>  
                                    </div>
                    {% endif %}
        {% else %}
            {% if  itemSolicitado.estado %}<span class="label label-success">Autorizada</span>{% else %} - {% endif %}
        {% endif %}

     </td>
    <td>
         {% if edit %} 
            {# if ( app.user.departamentoRm == itemSolicitado.tramite.departamentoRm ) and (( itemSolicitado.tramite.expediente | default(null) | movimiento_estado(app.user)) or itemSolicitado.tramite.expediente.id is not defined) #}
          {{ include('GeneralBundle:ItemSolicitado:_menu_acciones_item.html.twig') }}
         {% endif %}
    </td>
</tr>