{# Siarme\ExpedienteBundle\Resources\views\Reporte\_reporte_planificacion.html.twig #}
{% set planificacions = rubro_planificado_trimestre(anio, trimestre) %}

<div class="list-group-item" style="height: 100%;">
    <table class="table table-striped tablaPlanificacion">
      <thead class="text-center">
        <tr>
            <th>Organismo</th>
            <th>Llamado</th>
            <th>Estimacion</th>
            <th>Adjudicado</th>
            <th>Rubro</th>
            <th>Descripcion</th>
            <th>Concentra</th>
        </tr>
     </thead>
      <tbody>
      {% for planificacion in planificacions if planificacion.estado != 2 %}
        {% set tramite1, procesos, fechaAdjudica, agenda, despachos = null,  planificacion.pedido.expediente | default(null) | tramite_por_expediente_slug("tramite_proceso"), null, null, planificacion.pedido.expediente | default(null) | tramite_por_expediente_slug("tramite_despacho")  %}
        {% for tramite1 in procesos | reverse %}
            {% if loop.first  %}
               {% set  agenda = agenda_ultima(tramite1, "llamado") %}
            {% endif %} 
        {% endfor %}
        {% for tramite1 in despachos | reverse %}
            {% if loop.first  %}
               {% if tramite1.estadoTramite.estado %}
                    {% set  fechaAdjudica = tramite1.fechaEstado%}
               {% endif %}
            {% endif %} 
        {% endfor %}
        <tr>
            <td>
                {% if planificacion.pedido %}
                         -  <a  data-toggle="tooltip" data-placement="top" title='{{ planificacion.pedido.organismoOrigen }}'  href="{{ path('tramite_show', { 'id': planificacion.pedido.id }) }}" target="_blank">{{ planificacion.pedido.organismoOrigen.codigoGde}}</a>  
                {% else %} 
                    - 
                {% endif %}
            </td>
            <td  class="text-center" style="background-color:Ivory;">
              {% if agenda.fecha | default(false)%}{{ agenda.fecha | date('d-m-Y') }} {% endif %}
            </td>
            <td>
                {% if agenda.fecha | default(false)%}
                   {% set modify = '+ 60 day' %} 
                   {{ agenda.fecha | date_modify(modify) | date("d-m-Y") }}
                {% endif %}
            </td>
            <td  class="text-center" style="background-color:Ivory;">{% if fechaAdjudica %} {{ fechaAdjudica | date('d-m-Y') }} {% endif %}</td>
            <td>{{ planificacion.rubro }}</td>
            <td>{{ planificacion.descripcion }}</td>
            <td>{% include 'ExpedienteBundle:Planificacion:_concentra_etiqueta.html.twig' %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

