{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planificacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Rubro</th>
                <th>Descripcion</th>
                <th>Monto</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planificacion in planificacions %}
            <tr>
                <td><a href="{{ path('planificacion_show', { 'id': planificacion.id }) }}">{{ planificacion.id }}</a></td>
                <td>{{ planificacion.rubro }}</td>
                <td>{{ planificacion.descripcion }}</td>
                <td>{{ planificacion.monto }}</td>
                <td>{{ planificacion.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('planificacion_show', { 'id': planificacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('planificacion_edit', { 'id': planificacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planificacion_new') }}">Create a new planificacion</a>
        </li>
    </ul>
{% endblock %}
