{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{proveedor}}{% endblock %}
{% block contenido %}
 <div class="container"> 
 <ul class="nav nav-pills hidden-print"> 
      <li><a  data-toggle="tooltip" data-placement="bottom" title="Modificar los datos del SAF" href="{{ path('organismo_edit', { 'id': organismo.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
      </li> 
      
       <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              
                <a href="javascript:if(window.print)window.print()" value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print" ></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div> 
</ul> 
    <h1>Proveedor edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
