{% set fechaNotificaOc = agenda_ultima(documento.tramite, "notificacion_oc") %}

{% set tramites = documento.tramite.expediente | tramite_por_expediente_slug("tramite_pedido") %}
{% set extracto = documento.tramite.expediente.extracto | replace({'<br>': ", ", '<br />': ", "}) | split('SAF') %}
{% set extracto = extracto[0] | replace({'ADQUISICIÓN DE': "", 'ADQUISICION DE': "", 'ADQUISICIÓN': "", 'ADQUISICION': "", 'ADQ. DE': "", 'ADQ.DE': "", 'ADQ.': ""}) | upper  %}
{% set organismos = "" %}
     {% for tramite in tramites %} 
        {% if loop.first %}
            {% set organismos =  organismos ~ tramite.organismoOrigen.organismo | upper %}
        {% elseif loop.last %}
            {% set organismos =  organismos ~ " Y " ~ tramite.organismoOrigen.organismo | upper %}
        {% else %}
            {% set organismos =  organismos ~ ", " ~ tramite.organismoOrigen.organismo | upper ~ ", " %}
        {% endif %}
     {% endfor %} 
{% set extracto = "ADQUISICIÓN DE " ~ extracto ~ " DESTINADO AL " ~ organismos %}

<p style="text-align:center"><strong>INFORME DE PLAZOS DE ENTREGA</strong></p> 
<br>
<p style="text-align:justify">EXPEDIENTE ELECTR&Oacute;NICO: {{documento.tramite.expediente | upper}}</p>
<p style="text-align:justify">{{documento.tramite.tipoProceso | title }} Nº: {{documento.tramite.numeroComprar | upper}}</p>
<p style="text-align:justify">OBJETO DEL LLAMADO: {{ extracto | upper}}</p>

<br>
<table border="1"  id="tablaItemPedido" lass="table table-hover text-left">
  <thead>
    <tr>
        <th>Oferente</th>
        <th>Monto Adjudicado</th>
        <th>Ítems Adjudicados</th>
        <th>Plazo en Días</th>
        <th>Fecha de Notificación OC</th>
        <th>Fecha Límite de Entrega</th>
        <th>Observaciones</th>
    </tr>
  </thead>
  <tbody>
    {% for tramite in documento.tramite.oferta | reverse if tramite.montoAdjudicado > 0 %}
        {% set oferente = tramite.oferente %}
        {% if tramite.montoAdjudicado > 0 %}
            <tr>
                <td>{{ tramite.proveedor  | default(oferente)}} <br>{{ tramite.cuit  | default("") | mostrar_como_cuil }}</td>
                <td>${{ tramite.montoAdjudicado | number_format(2, ',', '.') }}</td>
                <td>
                    {% for itemOferta in tramite.itemOferta if itemOferta.adjudicado %}
                            {{itemOferta.numero}},
                    {% endfor %}
                </td>
                <td>{{ tramite.plazo }} días</td>
                <td>{% if fechaNotificaOc.fecha | default(false) %}{{ fechaNotificaOc.fecha | date('d/m/Y') }}{% endif %}</td>
                <td>{% if fechaNotificaOc.fecha | default(false) %}{{ fechaNotificaOc.fecha | date('Y-m-d') | sumar_dias(tramite.plazo, false) | date('d/m/Y')   }}{% endif %}</td>
                <td></td>
            </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>


