{% set year = 'now' | date('Y') %}
<p style="text-align:justify">Efectuado el an&aacute;lisis y evaluaci&oacute;n sobre la Planificaci&oacute;n correspondiente al <strong>{{documento.tramite.trimestre}}° Trimestre del a&ntilde;o  {{ documento.tramite.fechaDestino | date('Y')}}</strong> para el <strong>{{documento.tramite.organismoOrigen | upper}}</strong>, presentada a trav&eacute;s de nota  <strong>{{ documento.tramite.ccoo | default('NO-'~ year ~ '-n/d')}}</strong> y conforme a normas operativas de la Resoluci&oacute;n N&deg; 48/2020 (Anexo I y II) emitida por la {{appInstitucion |title}} y a las facultades otorgadas en la Resoluci&oacute;n 26/2020 y su modificatoria Resoluci&oacute;n 14/2021 emitidas por Contadur&iacute;a General de la Provincia, se informa lo siguiente:</p>

<p style="text-align:justify"><strong>A.</strong> Respecto a los bienes perteneciente al Rubro de Compra que se enuncia a continuaci&oacute;n, el procedimiento de contrataci&oacute;n para adquirir el mismo deber&aacute; efectuarse por su Direcci&oacute;n de Administraci&oacute;n, Servicio Administrativo Financiero o quien haga sus veces:</p>

<ul>
   {% for planificacion in documento.tramite.planificacion if  planificacion.estado == 2 %}
      <li style="text-align:justify">{{ planificacion.descripcion }}</li>
   {% endfor %}
</ul>

<p style="text-align:justify"><strong>B.</strong> En relaci&oacute;n al resto de los Rubros de Compra incluidos en su Planificaci&oacute;n, deber&aacute; remitir a esta {{appInstitucion |title}}, siguiendo los lineamientos establecidos en el ANEXO I. Punto III de la RESOL-2020-26-E-CAT-CGP#MHP, modificada por Resoluci&oacute;n C.G.P. N&ordm;14/2021, la siguiente documentaci&oacute;n:</p>

<ol>
   <li style="text-align:justify">&nbsp;Formular su requerimiento conforme a la Circular C.G.P 02/2022.</li>
   <li style="text-align:justify"><strong>&nbsp;</strong>Formulario de Necesidades Trimestrales, de acuerdo a los c&oacute;digos del Cat&aacute;logo de Bienes y Servicios del Sistema COMPR.AR.</li>
   <li style="text-align:justify">Comprobante del Registro Preventivo del cr&eacute;dito presupuestario (Solicitud de Gasto) emitido por el Sistema de Informaci&oacute;n Financiera &ldquo;e-SIDIF&rdquo;.</li>
   <li style="text-align:justify">Carga de BAPIN, Informe de Pertinencia T&eacute;cnica y/o Informe Socioecon&oacute;mico, seg&uacute;n corresponda y en virtud de la naturaleza del bien solicitado.</li>
   <li style="text-align:justify">Especificaciones t&eacute;cnicas emitida por personal id&oacute;neo cuando corresponda, de acuerdo a las caracter&iacute;sticas del bien solicitado. Cabe aclarar que, toda especificaci&oacute;n de &iacute;ndole t&eacute;cnica es responsabilidad de los funcionarios pertenecientes al Organismo Solicitante, en virtud de ser quienes tienen conocimiento adecuado de los bienes y/o servicios que requieren.</li>
   <li style="text-align:justify">Toda otra documentaci&oacute;n y/o informes necesarios y obligatorios conforme a normativa vigente.</li>
</ol>

<p style="text-align:justify">Asimismo, corresponde efectuar las siguientes consideraciones a tener en cuenta en sus requerimientos:</p>

<p style="text-align:justify">- La CIRCC-2021-1-E-CAT-CGP#MHP establece (...)Los precios consignados en la Nota de Pedido deber&aacute;n ser coherentes con los precios vigentes de mercado(...) y el Art. 35 del ANEXO I Reglamento Parcial N&deg;2 de la Ley 4938- Decreto Acuerdo N&deg;1127 dispone (...)&quot;las unidades ejecutoras requirentes deber&aacute;n formular sus requerimientos de bienes y/o servicios a las Unidades Responsables de Compras y Contrataciones y/o a la {{appInstitucion |title}}, seg&uacute;n corresponda, con la debida antelaci&oacute;n y cumpliendo con los siguientes requisitos, los cuales uno de ellos es estimar el costo de acuerdo a las cotizaciones de plaza o de otros elementos o datos que se estimen pertinentes a tal efecto&quot;(...) Por lo antes mencionado se solicita a los distintos Organismos, responsabilidad en el uso y elecci&oacute;n de los precios estimados, adjuntando en sus requerimientos los antecedentes que sirvieron de base para configurar el presupuesto de las contrataciones que se pretende realizar.</p>

<p style="text-align:justify">- Lo normado en MEMC-2021-3-E-CAT-CGP, el cual establece (...)Las imputaciones presupuestarias de recursos y de gastos deber&aacute;n efectuarse en consonancia con la descripci&oacute;n del Manual de Clasificaciones Presupuestarias, sin perjuicio de los c&oacute;digos que se verifiquen en el Cat&aacute;logo de Bienes y Servicios del Sistema COMPR.AR(...).</p>

<p style="text-align:justify">La documentaci&oacute;n solicitada deber&aacute; remitirse en la medida que d&eacute; cumplimiento con lo estipulado en el punto B, mediante el M&oacute;dulo de Comunicaciones Oficiales del Sistema de Gesti&oacute;n Documental Electr&oacute;nica &ldquo;GDE&rdquo; a el Secretario de Compras y Abastecimiento: Dr. Jorge Exequiel Rachid (usuario GDE: JERACHID) y a la Directora de Planificaci&oacute;n y Registro, C.P.N. María Ana Gonzalez Basso (usuario GDE: BASSOGONZALEZ).</p>

<p style="text-align:justify">Asimismo, se recomienda tener en cuenta la vigencia de la Circular N&deg;6/2020 de Contadur&iacute;a General de la Provincia &ldquo;Pagos que no superen el monto equivalente a VEINTE (20) MODULOS, a efectivizarse a trav&eacute;s de Fondos Permanentes o Rotatorios Internos.</p>

<p style="text-align:justify">N&oacute;tese que los formularios e informes solicitados formar&aacute;n parte de la Documentaci&oacute;n Oficial del expediente de contrataci&oacute;n pertinente, que luego estar&aacute; sujeto a control de Contadur&iacute;a General de la Provincia en su calidad de &Oacute;rgano Rector.</p>

<p>&nbsp;</p>
