{# Siarme\ExpedienteBundle\Resources\views\Externo\show.html.twig #}
{% set  edit = false %}
{% extends 'frontend.html.twig' %}
{% block title %} PEDIDOS{% endblock %}
{% block stylesheets %}   
     <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_cosmo.min.css') }}" type="text/css" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ asset('bundles/expediente/plugins/font-awesome/css/font-awesome.min.css') }}">  
    <link href="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">
    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style>     
{% endblock %}
{% block body %}
<header>
  <nav class="navbar navbar-inverse hidden-print"  role = "navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand"><span  class="glyphicon glyphicon-shopping-cart"> {{app.user.departamentoRm}}</span></a>
    </div>
        <ul class="nav navbar-nav">       
        <li>
            <a href="{{ path('externo_index') }}">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
              INICIO
            </a>            
        </li>        
      </ul> 
      <ul class="nav navbar-nav navbar-right">           
        <li>
             <a href="{{ path('usuario_logout') }}" >
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                  Salir
              </a>           
        </li>        
      </ul> 
  </div><!-- /.container-fluid -->
</nav>
</header>

 <div class="container"> 
<div class="nav nav-pills hidden-print"> 
    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>
<div id="copy" class="print"> 
       <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style> 
{% set year = 'now' | date('Y')%}
<!-- copiar - imprimir-->
<div  class="panel panel-default">

<!-- copiar - imprimir-->
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp; {#<span class="pull-left">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>#}<span class='{{ tramite.tipoTramite.glyphicon}}'></span> {{ tramite.tipoTramite }} <span > <strong> {{ tramite.numeroTramite }}</strong></span> -  Fecha: {{ "now" |date('d-m-Y') }}
        <span class="pull-right"> {{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
      </div>
      <!-- List group -->
      <div class="list-group" aria-multiselectable="true">
        <div class="list-group-item text-center" >
            <dl class="list-group-item-heading" role="tab" id="headingTwo">
            {% if tramite.expediente.id is defined %}
                <dt>Expediente | CCOO</dt>
                <dd>
                    <span id="expediente">{{ tramite.expediente.numeroGde | default("") }}</span>
                    
                        {% if tramite.expediente.numeroGde is not empty %}
                          <!-- clipboard-copiar texto de id="copy" -->
                          <a class="btn hidden-print" data-clipboard-target="#expediente">
                          <span class="glyphicon glyphicon-copy"></span></a>
                        {% endif %} 

                &nbsp;&nbsp;|&nbsp;&nbsp;   
                <span id="ccoo">{{tramite.expediente.ccoo | default("") }}</span>
                <!-- clipboard-copiar texto de id="copy" -->
                <a class="btn hidden-print" data-clipboard-target="#ccoo">
                <span class="glyphicon glyphicon-copy"></span></a>
                </dd>
                 <dt>Objeto</dt>
                 <dd>{{tramite.expediente.extracto | nl2br | raw}}</dd>
                 <dt>Presupuesto Oficial</dt> 
                  <dd>{{tramite.moneda}} ${{ tramite.expediente.presupuestoOficial | default(0) | number_format(2, ',', '.')  }}</dd> 
                <dd>( {{ numero_a_letras(tramite.expediente.presupuestoOficial ,2, tramite.moneda) }} )</dd> 
                 <hr>
             {% endif %}
                 <dt>Proceso {{ tramite.numeroComprar | default("100-000000-N/D") }}</dt>
                 
                 <dt>Tipo</dt>
                  <dd>{{ tramite.tipoProceso}} </dd>
                  <dt>Modalidad</dt>
                  <dd> {{ tramite.modalidad }}</dd>
                  {% if tramite.tipo != "-" %}
                    <dt>Tipo</dt>
                    <dd>{{tramite.tipo}}</dd>
                  {% endif %}

                  {#
                  <dt>Marco Legal</dt>
                  {% for marcoLegal in tramite.tipoProceso.marcoLegal %}
                  <dd> 
                    {{ marcoLegal }}
                  </dd>
                   <dt>Observaciones:</dt> 
                  <dd>{{ tramite.texto}}</dd>  
                    {% endfor %}#}
                <div class="{% if not tramite.estado  %} hidden-print {% endif %}">
                  <dt>Monto Adjudicado</dt> 
                  {% if tramite.montoAdjudica == 0 and tramite.estado and tramite.montoAdjudicado > 0  %}
                    <dd id="montoAdjudica" class="text-warning hidden-print">$<strong>{{ tramite.montoAdjudicado | default(0) | number_format(2, ',', '.')  }}</strong> <a class="btn" data-clipboard-target="#montoAdjudica"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span></a></dd>

                  {% endif %}
                    <dd>{{tramite.moneda}} ${{ tramite.montoAdjudica | default(0) | number_format(2, ',', '.')  }}</dd>
                    <dd>( {{ numero_a_letras(tramite.montoAdjudica ,2, tramite.moneda) }} )</dd> 
                  <dd>
                    <a  id="actualizar-pagina" class="hidden btn btn-lg" href="javascript:location.reload()" ><span class="glyphicon glyphicon-refresh text-info" ></span> <span class="text-info">Actualizar página</span></a>
                  </dd>
                <dt>Fechas</dt>
                <dd>           
                 <table class="table text-center">
                    <tbody>
                        {% for recordatorio in tramite.recordatorio %}
                                {% set tramite = recordatorio.tramite %}
                                <tr><td colspan=100% > {{recordatorio | upper }} - {{recordatorio.texto | upper }} - {{ include('ExpedienteBundle:Tramite:_agenda_etiqueta.html.twig') }}
                                {# if recordatorio.vigente %}
                                  <span class="label label-success"> Vigente </span>
                                {% else %}
                                  <span class="label label-default"> Finalizado - {{recordatorio.fecha | long_time }}</span>
                                 {% endif #} 
                                 {% if tramite.departamentoRm == app.user.departamentoRm %}
                                     &nbsp;&nbsp;
                                    <a role="button" href="{{ path('recordatorio_eliminar' , { 'id': recordatorio.id }) }}"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                                {% endif %}
                               </td></tr>
                        {% else %}
                              -
                        {% endfor %}
                    </tbody>
                </table>
                  </dd>  
            </div>
            </dl>
        </div>
    </div>
    {% set pedidos = tramite.expediente | tramite_por_expediente_slug("tramite_pedido") %}
 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-usd"></span> ESTADO DE CREDITO ({{ pedidos| length }})
      </h3>
    </div>
      <div class="panel-body">
                {% set cantidadPedidos = pedidos | length %}
                {% for pedido in pedidos %}

                    {% set itemsPorIpp, items, ipp, itemPA = {}, [], 0, 0 %}
                    {% for itemPA in pedido.itemPedido | sort((a, b) => a.ipp <=> b.ipp) if itemPA.itemProceso.adjudicado | default(false) %}
                        {% if loop.first %}
                            {% set ipp, items = itemPA.ipp, items | merge([itemPA]) %}
                        {% else %}       
                            {% if ipp == itemPA.ipp %}
                                {% set items = items | merge([itemPA]) %}
                            {% else %}
                                {% set itemsPorIpp = itemsPorIpp | merge([{ipp, items}]) %}
                               
                                {% set  items, ipp =  [], itemPA.ipp %}
                                {% set items = items | merge([itemPA]) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% set itemsPorIpp = itemsPorIpp | merge([{ipp, items}]) %}

                    <h3 class="text-center"> {{pedido.organismoOrigen.organismo}}</h3>      
                    <h4 class="text-center">{{ pedido.ccoo[0:34] | default('NO-'~ year ~ '-n/d')}} | SAF N° {{ pedido.organismoOrigen.saf.numeroSaf | default("N/D") }} | {{ pedido.trimestre }}° Trimestre  | Fecha: {% if pedido.fechaDestino %}{{ pedido.fechaDestino|date('d-m-Y') }}{% endif %}</h4> 
                     
                    {% set creditos = pedido.credito %}
                    {{ include('ExpedienteBundle:Credito:_lista.html.twig') }}
                       {% set itemsIpp = pedido | tramite_pedido_item_por_rubro("ipp") %}
                       {% set itemsIppAdjudicado = pedido | tramite_pedido_item_por_rubro("ipp", true)  %}
                        <table class="table table-responsive" style="padding:0px; margin:0px;">
                             <thead class="text-center">
                                {% if itemsIpp | length > 0 %}
                                   <th style="background-color:#f0f1ed;">Ítem Presupuestado Agrupado por I.P.P.</th>
                                {% endif %}
                                {% if itemsIppAdjudicado | length > 0 %}
                                    <th style="background-color:#ecf9d4;">Ítem Preadjudicado Agrupado por I.P.P</th>
                                 {% endif %}
                             </thead>
                            <tr>
                            {% if itemsIpp | length > 0 %}
                                <td style="background-color:#f0f1ed">                                 
                                        <table class="table table-bordered text-left" style="padding:0px; margin:0px;">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                {% set total = 0 %}
                                                {% for item in itemsIpp %}
                                                    <tr>
                                                        <td>{% set rubro = item.ipp | rubro %} {{ rubro | title }} </td>
                                                        <td>{{item.cantidad}} ítems</td>
                                                        <td>$ {{item.presupuesto  | default(0) | number_format(2, ',', '.')}}</td>
                                                    </tr>
                                                    {% set total = total +  item.presupuesto %}
                                                {% endfor %}
                                                <tr><th colspan="2">Total</th><th>${{total  | default(0) | number_format(2, ',', '.')}}</th></tr>
                                                <tr><td colspan="3"class="text-right"><small class="text-muted">{{ numero_a_letras(total,2, tramite.moneda) }}</small></td></tr>
                                            </tbody>
                                         </table>  
                                </td>
                            {% endif %}
                            {% if itemsIppAdjudicado | length > 0 %}
                                  <td  style="background-color: #ecf9d4 "> 
                                        <table class="table table-bordered text-left" style="padding:0px; margin:0px;">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                {% set total = 0 %}
                                                {% for rep in itemsPorIpp %}
                                                {% set monto = 0 %}
                                                    <tr>
                                                        <td>{% set rubro = rep.ipp | rubro %} {{ rubro | title }} </td>
                                                        <td>{{rep.items | length}}  ítems</td>
                                                        {% for item in rep.items %}
                                                            {% for itemOferta in item.itemProceso.itemOferta if itemOferta.adjudicado %}
                                                                {% set cantidad = (item.cantidad/item.itemProceso.cantidad)*itemOferta.cantidadAdjudicada %}
                                                                    {% set monto = monto + ((cantidad | round) * itemOferta.precio ) %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <td> ${{monto  | default(0) | number_format(2, ',', '.')}}</td>
                                                        {% set total = total +  monto %}
                                                    </tr>
                                                {% endfor %}
                                                <tr><th colspan="2">Total</th><th>${{total  | default(0) | number_format(2, ',', '.')}}</th></tr>
                                                <tr><td colspan="3" class="text-right"><small class="text-muted">{{ numero_a_letras(total,2, tramite.moneda) }}</small></td></tr>
                                            </tbody>
                                         </table>  
                                </td>
                            {% endif %}
                            </tr>
                        </table>
                      {% if itemsIppAdjudicado | length > 0 and cantidadPedidos > 1 %}
                                        <table class="table table-bordered table-responsive text-left" style="padding:0px; margin:0px;">
                                            <thead>
                                                <th>Oferente</th>
                                                <th>Ítems Preadjudicados</th>
                                                <th>{# if cantidadPedidos > 1  %}<span class="glyphicon glyphicon-info-sign text-danger" data-toggle="tooltip" data-placement="bottom"  title='Los motos pueden ser aproximados'></span>{% endif #}Monto</th>
                                            </thead>
                                            <tbody>
                                                {% set total = 0 %}
                                                {% for oferta in tramite.oferta | reverse  %}
                                                  {% set reporteItems = pedido | tramite_pedido_item_por_oferente(oferta, true) %}
                                                    {% for reporte in reporteItems if reporte.cantidad > 0  %}
                                                    <tr>                                                      
                                                        <td><a  href="{{ path('tramite_show', { 'id': oferta.id }) }}">{{ oferta.tipoTramite}} {{ oferta.numeroTramite }}</a> - 
                                                           {% set oferente1 = oferta.oferente %}
                                                            {{ oferta.proveedor  | default(oferente1)}}
                                                        </td>
                                                        <td>
                                                          {% set monto =  0 %}    
                                                          {% for itemOferta in oferta.itemOferta if itemOferta.adjudicado == true %}
                                                            {% set itemsPedidos = itemOferta.itemProceso | item_pedido %}
                                                              {% for item in itemsPedidos if item.tramite == pedido %}
                                                              
                                                                {% set cantidad = (item.cantidad/item.itemProceso.cantidad)*itemOferta.cantidadAdjudicada %}
                                                                {% set monto = monto + ((cantidad | round) * itemOferta.precio ) %}
                                                                
                                                                {% if itemsPedidos | length > 1  %}
                                                                    <span class="text-warning" data-toggle="tooltip" data-placement="bottom"  title='Se adjudica a más de un SAF'><strong>{{itemOferta.numero}}</strong></span>,
                                                                {% else %}
                                                                    {{itemOferta.numero}}, 
                                                                {% endif %}
                                                                
                                                             {% endfor %}
                                                          {% endfor %}
                                                         <br/> Cantidad: {{reporte.cantidad}} ítems</td>
                                                        <td>${{monto  | default(0) | number_format(2, ',', '.')}}</td>
                                                    </tr>
                                                  {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                         </table>  
                      {% endif %}
                        {% if not loop.last %}<hr>{% endif %}
                {% endfor %}     
      </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block javascripts %} 
    <script src="{{ asset('bundles/expediente/plugins/jquery/jquery.min.js') }}">
    </script>
    <script src="{{ asset('bundles/expediente/plugins/boostrap3/js/bootstrap.min.js') }}">
    </script>         
    <script src="{{ asset('bundles/expediente/plugins/print/printArea.js') }}">
    </script> 
    <script src="{{ asset('bundles/expediente/plugins/dropzone/dist/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/clipboard/dist/clipboard.min.js') }}"></script>
   <script>
        $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip(); 
             var options = {mode:"popup", popHt: 500,   popWd: 400, popX: 100,   popY: 100, popTitle:"", popClose: false, strict: undefined};
            $("#printer").click(function(){
            $("div.print").printArea(options); 
            }); 
            });
      
   </script>
   
  <!-- 3. Instantiate clipboard by passing a list of HTML elements -->
    <script>
          var clipboard = new ClipboardJS('.btn');

          clipboard.on('success', function(e) {
              console.info('Action:', e.action);
              console.info('Text:', e.text);
              console.info('Trigger:', e.trigger);

             // e.clearSelection();
          });

          clipboard.on('error', function(e) {
              console.error('Action:', e.action);
              console.error('Trigger:', e.trigger);
          });
    </script>
{% endblock  %}
