{# Siarme\AusentismoBundle\Resources\views\itemAcuerdo\_tbody_completo.html.twig #}
<tr> <td></td>
    <td  width="13%"> 
        <small><span class="{{itemAcuerdo.tramite.estadoTramite.class}}"  data-toggle="tooltip" data-placement="bottom" title='{{itemAcuerdo.tramite.estadoTramite}}' >-</span></small>
        <a  href="{{ path('tramite_show', { 'id': itemAcuerdo.tramite.id }) }}" target="_blank">{{itemAcuerdo.tramite.tipoTramite}} {{ itemAcuerdo.tramite.numeroTramite }}</a>
        {# <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                    {% include 'AusentismoBundle:itemAcuerdo:_menu_info_item.html.twig' with {'entidad': itemAcuerdo, 'tipo':constant('TIPO_ENTIDAD', itemAcuerdo) } %}
        </div>#}
    </td>
    <td>{{ itemAcuerdo.numero }}</td>
    <td><a data-toggle="tooltip" data-placement="top" title='Ver ítem' href="{{ path('itemAcuerdo_show', { 'id': itemAcuerdo.id }) }}" target="_blank">{{ itemAcuerdo.codigo }}</a></td>
    {# <td>{% if itemAcuerdo.fecha %}{{ itemAcuerdo.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td><a href="{{ path('itemAcuerdo_show', { 'id': itemAcuerdo.id }) }}" target="_blank"> {{ itemAcuerdo.codigo }}</a></td>#}
    <td width="45%"><small>{{ itemAcuerdo.item }}</small></td>
    <td>$ {{ itemAcuerdo.precio  | default(0) | number_format(2, ',', '.')  }}</td>
    <td>{{ itemAcuerdo.cantidad }}</td>
    <td class="estado"> 
        {% set itemsProceso = itemAcuerdo | item_proceso %}
        {% if (itemsProceso | length > 0 ) %} 
            {% for itemProceso in itemsProceso | reverse %}
              {% if  loop.first %}
                {{ include('AusentismoBundle:itemProceso:_etiqueta_estado.html.twig') }}
              {% endif %}
           {% endfor %}
        {% else %}
            {% if itemAcuerdo.estado %}Válido{% else %}Rectificar{% endif %}
        {% endif %}
    </td>
</tr>

