<style>
 tr, th, td {
  border: 1px solid black;
}
 .table {
 border: 1px solid black;
}
</style>

<table id="tablaExpediente"  class="table table-hover tablaSinOrdenar "  >
    <thead>
        <tr>
            <th>N°</th>
            <th>Expediente</th>
            <th>Descripcion</th>
            <th>Monto Presupuestado</th>     
            <th>Monto Adjudicado</th>           
            <th>Estado</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody >
        {% set expedientes, i = expedientes | sort((a, b) => a.id <=> b.id ) , 0 %}
    	{% for expediente in   expedientes | reverse %}
            {% set proceso = null %} 
            {% for tramite in expediente.tramite if tramite.tipoTramite.slug == "tramite_proceso" %}
                {% set proceso = tramite %}
            {% endfor %}

            {% set year = 'now' | date('Y')%}
            {% if proceso is not null %}
                {% if proceso.estadoTramite.slug != "adjudicado"  %}
                    {% set i = i + 1 %}
                    <tr>  
                        <td>{{ i }}</td>   
                        <td ><a href="{{ path('expediente_show', { 'id': expediente.id }) }}" target="_blank">{{ expediente.numeroGde | default('INT-'~ year ~'-'~ expediente.numeroInterno)}}</a></td>
                        <td><small>{{ expediente.extracto | raw  }}</small></td>
                        <td>
                            {% if expediente.PresupuestoOficial > 0  %}
                                $ {{ expediente.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }}
                            {% endif %}
                        </td>
                        <td>
                            ${{ proceso.montoAdjudica | default(0) | number_format(2, ',', '.')  }}
                       </td>     
                       <td width="20%">
                            {% set tramite = proceso %}
                            <span class="{{tramite.estadoTramite.class}}">{{tramite.estadoTramite}}</span>
                            {% set comentarios = tramite.id | Comentario(constant('TIPO_ENTIDAD', tramite))  %}
                            {% if (comentarios | length > 0 ) %}
                                {% set comentarios = comentarios | reverse %}
                                &nbsp;({{ comentarios[0].texto }})
                            {% endif %} 

                        </td> 
                    <td width="15%"></td>
                    </tr> 
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>