{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}RUBRO{% endblock %}
{% block contenido %}
<div class="container"> 
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
      <li data-toggle="tooltip" data-placement="top" title='Eleminar Definitivamente el Documento'>
        {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("¿Desea ELIMINAR el Definitivamente el Documento?")'}}) }}                       
             <button class="btn btn-danger btn-sm" type="submit" value="Eliminar"><span class="glyphicon glyphicon-trash">Eliminar</span> </button>
        {{ form_end(delete_form) }}
      </li> 

    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>
<div id="copy" class="panel panel-default print">
        <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
      </style> 
  <!-- Default panel contents -->
  <div class="panel-heading"> 
    <div class="panel-title">RUBROS PLANIFICADOS</div>
  </div>
  <div class="panel-body text-center"> 
        <dt>Rubro</dt>
        <dd>{{ planificacion.rubro }}</dd>
   
        <dt>Descripcion</dt>
        <dd>{{ planificacion.descripcion }}</dd>
  
        <dt>Monto</dt>
        <dd>${{ planificacion.importe  | default(0) | number_format(2, ',', '.')  }}
            <br />
             ( {{ numero_a_letras(planificacion.importe,2, "PESOS") }} )
        </dd>
        
        <dt>Concentra</dt>
        <dd>{% include 'ExpedienteBundle:Planificacion:_concentra_etiqueta.html.twig' %}</dd>
        <dt>Pedido Relacionado</dt>
        <dd> 
            {% set quitar = true %}
            {% set tramite, tipoTramite = planificacion.pedido, planificacion.pedido.tipoTramite | default(false) %}
            {% set conPedidos = false %}
              {% if tipoTramite %}
              <table class="table table-hover table-bordered">
                  <thead>
                     {{ include('ExpedienteBundle:'~ tipoTramite.slug ~':_thead_completo.html.twig') }}  
                  </thead>
                  <tbody>
         
                      {# filtro los tramites que no tienen expedientes #}
 
                     {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}    

                  </tbody>
              </table>
             {% else %}
                 {% set pedidosSinrubro, pedidos, plani = [], planificacion.tramite | pedidos_planificados, 0 %}
                    {% for  plani in pedidos %}
                        {% set rubroPlanificado = plani | rubro_planificado %}
                        {% if   not rubroPlanificado %}
                            {% set pedidosSinrubro = pedidosSinrubro | merge([plani]) %}
                            {% set conPedidos = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not conPedidos %}
                        <span class="label label-default">No se encontraron PEDIDOS para relacionar</span>
                    {% else %}
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#rubroPlanificado" data-whatever='planificaciones'>Seleccionar el PEDIDO correspondiente</button>
                    {% endif %}
             {% endif %}
        </dd>

  </div>
</div>
{% if conPedidos %}
<!-- Modal -->
<div class="modal fade" id="rubroPlanificado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Seleccione un PEDIDO correspondiente al RUBRO</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <table class="table table-hover table-bordered tablaSinOrdenar">
                  <thead>
                     {{ include('ExpedienteBundle:tramite_pedido:_thead_completo.html.twig') }}  
                  </thead>
                  <tbody>
                    {% for tramite in pedidosSinrubro %}
                      {# filtro los tramites que no tienen expedientes #}
                        {% set quitar = false %}
                     {{ include('ExpedienteBundle:tramite_pedido:_tbody_completo.html.twig') }}    
                {% endfor %}
                  </tbody>
              </table>
        
      </div>
    </div>
  </div>
</div>
{% endif %}
</div>
{% endblock %}