{# Siarme\AusentismoBundle\Resources\views\itemSolicitado\_tbody_completo.html.twig #}
<tr> <td></td>
    <td  width="13%"> 
        <small><span class="{{itemSolicitado.tramite.estadoTramite.class}}"  data-toggle="tooltip" data-placement="bottom" title='{{itemSolicitado.tramite.estadoTramite}}' >-</span></small>
        <a  href="{{ path('tramite_show', { 'id': itemSolicitado.tramite.id }) }}" target="_blank">{{itemSolicitado.tramite.tipoTramite}} {{ itemSolicitado.tramite.numeroTramite }}</a>
        {# <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                    {% include 'AusentismoBundle:itemSolicitado:_menu_info_item.html.twig' with {'entidad': itemSolicitado, 'tipo':constant('TIPO_ENTIDAD', itemSolicitado) } %}
        </div>#}
    </td>
    <td>{{ itemSolicitado.numero }}</td>
    <td><a data-toggle="tooltip" data-placement="top" title='Ver ítem' href="{{ path('itemSolicitado_show', { 'id': itemSolicitado.id }) }}" target="_blank">{{ itemSolicitado.codigo }}</a></td>
    {# <td>{% if itemSolicitado.fecha %}{{ itemSolicitado.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td><a href="{{ path('itemSolicitado_show', { 'id': itemSolicitado.id }) }}" target="_blank"> {{ itemSolicitado.codigo }}</a></td>#}
    <td width="45%"><small>{{ itemSolicitado.item }}</small></td>
    <td>$ {{ itemSolicitado.precio  | default(0) | number_format(2, ',', '.')  }}</td>
    <td>{{ itemSolicitado.cantidad }}</td>
    <td class="estado"> 
        {% set itemsProceso = itemSolicitado | item_proceso %}
        {% if (itemsProceso | length > 0 ) %} 
            {% for itemProceso in itemsProceso | reverse %}
              {% if  loop.first %}
                {{ include('AusentismoBundle:itemProceso:_etiqueta_estado.html.twig') }}
              {% endif %}
           {% endfor %}
        {% else %}
            {% if itemSolicitado.estado %}Válido{% else %}Rectificar{% endif %}
        {% endif %}
    </td>
</tr>

